body.cool_word {
  background: #212121;
  color: #fff;

  main {
    .index {
      .card {
        background: #212121;
        border: none;

        .card-body {
          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}

