body.cool_word {
  header {
    padding: 0 1rem;
    border-bottom: solid .5px #d2d3d7;
  }

  main {
    .index {
      .card {
        .card-body {
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}

